<strong>End</strong>
<br>
<div class="note">
  <ul title="END PHASE (p.12)" tabindex="0">
    <li>remove all <strong>circular tokens</strong> from all ships;</li>
    <li>recover charges for each card with a <%- xw_symbol('recurring') %>;</li>
    <li>spend charges for each card with a <%- xw_symbol('negativerecurring') %>;</li>
  </ul>
</div>
