<strong>End</strong>
<br>
<div class="note">
  <ul>
    <li title="END PHASE pg.12">remove all circular tokens from all ships;</li>
    <li title="END PHASE pg.12">recover charges for each card with a <%- xw_symbol('recurring') %>;</li>
    <li title="END PHASE pg.12">miss charges for each card with a <%- xw_symbol('negativerecurring') %>;</li>
  </ul>
</div>
