<strong>Planning</strong>

<ol type="a">
  <li>
    Define Maneuver
    <br>
    <div class="note">
      <ul>
        <li title="PLANNING PHASE pg.16">dials can be assigned in any order;</li>
      </ul>
    </div>
  </li>

  <li>
    Determine Player Order
    <br>
    <div class="note">
      <ul>
        <li title="PLANNING PHASE pg.16">
          each player rolls 3 attack dice:
          <ul>
            <li>1ยบ <%- xw_symbol('crit') %>;</li>
            <li>2ยบ <%- xw_symbol('focus') %>;</li>
            <li>3ยบ <%- xw_symbol('hit') %>;</li>
          </ul>
        </li>
      </ul>
    </div>
  </li>
</ol>
