<strong>Planning</strong>

<ol type="a">
  <li>
    <strong>Define Maneuver</strong>
    <br>
    <div class="note">
      <ul>
        <li title="PLANNING PHASE (p.16)" tabindex="0"><strong>dials</strong> can be assigned in any order;</li>
      </ul>
    </div>
  </li>

  <li>
    <strong>Determine Player Order</strong>
    <br>
    <div class="note">
      <ul>
        <li title="PLANNING PHASE (p.16)" tabindex="0">
          each player rolls <strong>3</strong> <span class="red">attack dice</span>:
          <ul>
            <li>1ยบ <%- xw_symbol('crit') %>;</li>
            <li>2ยบ <%- xw_symbol('focus') %>;</li>
            <li>3ยบ <%- xw_symbol('hit') %>;</li>
          </ul>
        </li>
      </ul>
    </div>
  </li>
</ol>
