<div class="site-footer__container row">
  <div class="site-footer__social-list six columns">
    <a href="//github.com/jroliveira/" target="_blank" rel="noopener">github.com/jroliveira</a>
    <br />
    <a href="//twitter.com/junr_oliveira" target="_blank" rel="noopener">twitter.com/junr_oliveira</a>
    <br />
    <a href="//linkedin.com/in/junior-oliveira" target="_blank" rel="noopener">linkedin.com/in/junior-oliveira</a>
  </div>

  <div class="site-footer__tag-cloud six columns">
    <%- partial('_widget/tag-cloud') %>
  </div>
</div>
