<div class="site-header__container">
  <a class="site-branding" href="/">
    <img class="site-branding__logo" src="/assets/images/favicon.svg" alt="Junior Oliveira's blog">
    <h1 class="site-branding__title"><%= config.title %></h1>
  </a>

  <ul class="site-header__social-list">
    <li class="site-header__social-list-item">
      <a href="//twitter.com/junr_oliveira" target="_blank" rel="noopener"><img class="icon" src="/assets/images/twitter.svg" alt="Junior Oliveira's twitter"></a>
    </li>
    <li class="site-header__social-list-item">
      <a href="//linkedin.com/in/junior-oliveira" target="_blank" rel="noopener"><img class="icon" src="/assets/images/linkedin.svg" alt="Junior Oliveira's linkedin"></a>
    </li>
    <li class="site-header__social-list-item">
      <a href="//github.com/jroliveira/" target="_blank" rel="noopener"><img class="icon" src="/assets/images/github.svg" alt="Junior Oliveira's github"></a>
    </li>
    <li class="site-header__social-list-item">
      <%- partial('../utilities/pipe') %>
    </li>
    <li class="search site-header__social-list-item">
      <a class="search-form__button fa fa-search" href="/search" aria-label="Search post"></a>
    </li>
  </ul>
</div>
