.page__container
  margin 0 auto
  max-width 800px

.page__content
  margin-bottom 4rem

.page__title
  margin 4rem 0
  text-align center

@media (min-width: 550px)
  .page__content
    margin-bottom 6rem

  .page__title
    margin 6rem 0
