.page__title .poem__meta
  color #808080
  font-style italic

  &:before
    content '— '

  &:after
    content ' —'

.poem
.poem-item
  font-family adobe-garamond-pro

.poem .page__content
.poem-item__excerpt
  & > p:first-of-type:first-letter
    float left
    font-size 2.5em
    line-height 1
    margin 5px 5px 0 0

  & > p:first-line
    font-size 1.3em
    font-variant small-caps
    letter-spacing 1.5px

.poem-item__excerpt
  line-height 1.5
  padding-left 2rem

  & > p:first-of-type:first-letter
    font-size 2em

  & > p:first-line
    font-size 1.1em
