.post-item__title
  font-weight 400

.all-categories__index
.all-tags__index
  padding-bottom 4rem

.all-categories__item
.all-tags__item
  text-align center

.category-posts h4
.tag-posts h4
  text-align center
  padding 2rem 0
