.page__title
  & .post__meta
  & .page__meta
    font-size 0.45em
    letter-spacing .01rem

.post-item__title
.post-item__title:hover
  color #222

.post-item
  & p
    margin 0

.post-item
  border-top 1px solid #eee
  padding 3rem 0

  &:first-of-type
    border-top 0
    padding-top 0

  &:last-of-type
    padding-bottom 0

  &__excerpt
    color #586069

  &__title
    font-size 2.2rem

@media (min-width: 550px)
  .page__meta
  .post__meta
    font-size 0.7em
    letter-spacing 0

  .post-item__title
    font-size 2.4rem
