@charset "UTF-8"

@font-face
    font-family XWing
    src url("/assets/fonts/xwing-miniatures.ttf")

@font-face
    font-family XWingShip
    src url("/assets/fonts/xwing-miniatures-ships.ttf")

i
    &.xf
        font-family XWing
        font-style normal
        font-size 1.5em
    &.xf-agility
        &:before
            content "^"
    &.xf-astromech
        &:before
            content "A"
    &.xf-attack
        &:before
            content "%"
    &.xf-bankleft
        &:before
            content "7"
    &.xf-bankright
        &:before
            content "9"
    &.xf-barrelroll
        &:before
            content "r"
    &.xf-base-all
        &:before
            content "À"
    &.xf-base-small
        &:before
            content "Á"
    &.xf-base-medium
        &:before
            content "Â"
    &.xf-base-large
        &:before
            content "Ã"
    &.xf-boost
        &:before
            content "b"
    &.xf-bullseyearc
        &:before
            content "}"
    &.xf-calculate
        &:before
            content "a"
    &.xf-cannon
        &:before
            content "C"
    &.xf-cargo
        &:before
            content "G"
    &.xf-charge
        &:before
            content "g"
    &.xf-cloak
        &:before
            content "k"
    &.xf-command
        &:before
            content "V"
    &.xf-condition-outline
        &:before
            content "Æ"
    &.xf-condition
        &:before
            content "°"
    &.xf-config
        &:before
            content "n"
    &.xf-coordinate
        &:before
            content "o"
    &.xf-crew
        &:before
            content "W"
    &.xf-crit
        &:before
            content "c"
    &.xf-dalan-bankleft
        &:before
            content "["
    &.xf-dalan-bankright
        &:before
            content "]"
    &.xf-device
        &:before
            content "B"
    &.xf-doublerecurring
        &:before
            content "_"
    &.xf-doubleturretarc
        &:before
            content "q"
    &.xf-empire
        &:before
            content "@"
    &.xf-energy
        &:before
            content "("
    &.xf-epic
        &:before
            content ")"
    &.xf-evade
        &:before
            content "e"
    &.xf-firstorder
        &:before
            content "+"
    &.xf-first-player-1-outline
        &:before
            content "Ĺ"
    &.xf-first-player-1
        &:before
            content "ĺ"
    &.xf-first-player-2-outline
        &:before
            content "Ļ"
    &.xf-first-player-2
        &:before
            content "ļ"
    &.xf-first-player-3-outline
        &:before
            content "Ľ"
    &.xf-first-player-3
        &:before
            content "ľ"
    &.xf-first-player-4-outline
        &:before
            content "Ŀ"
    &.xf-first-player-4
        &:before
            content "ŀ"
    &.xf-focus
        &:before
            content "f"
    &.xf-forcecharge
        &:before
            content "h"
    &.xf-forcepower
        &:before
            content "F"
    &.xf-frontarc
        &:before
            content "{"
    &.xf-fullfrontarc
        &:before
            content "~"
    &.xf-fullreararc
        &:before
            content "¡"
    &.xf-fuse
        &:before
            content ","
    &.xf-gunner
        &:before
            content "Y"
    &.xf-hardpoint
        &:before
            content "H"
    &.xf-helmet-imperial
        &:before
            content "y"
    &.xf-helmet-rebel
        &:before
            content "x"
    &.xf-helmet-scum
        &:before
            content "z"
    &.xf-hit
        &:before
            content "d"
    &.xf-hull
        &:before
            content "&"
    &.xf-ig88d-sloopleft
        &:before
            content '"'
    &.xf-ig88d-sloopright
        &:before
            content "'"
    &.xf-illicit
        &:before
            content "I"
    &.xf-jam
        &:before
            content "j"
    &.xf-kturn
        &:before
            content "2"
    &.xf-leftarc
        &:before
            content "£"
    &.xf-linked
        &:before
            content ">"
    &.xf-lock
        &:before
            content "l"
    &.xf-missile
        &:before
            content "M"
    &.xf-modification
        &:before
            content "m"
    &.xf-negativerecurring
        &:before
            content ""
    &.xf-obstacle-core2asteroid0-outline
        &:before
            content "ĉ"
    &.xf-obstacle-core2asteroid0
        &:before
            content "ĥ"
    &.xf-obstacle-core2asteroid1-outline
        &:before
            content "Č"
    &.xf-obstacle-core2asteroid1
        &:before
            content "Ĩ"
    &.xf-obstacle-core2asteroid2-outline
        &:before
            content "Ċ"
    &.xf-obstacle-core2asteroid2
        &:before
            content "Ħ"
    &.xf-obstacle-core2asteroid3-outline
        &:before
            content "ċ"
    &.xf-obstacle-core2asteroid3
        &:before
            content "ħ"
    &.xf-obstacle-core2asteroid4-outline
        &:before
            content "č"
    &.xf-obstacle-core2asteroid4
        &:before
            content "ĩ"
    &.xf-obstacle-core2asteroid5-outline
        &:before
            content "Ď"
    &.xf-obstacle-core2asteroid5
        &:before
            content "Ī"
    &.xf-obstacle-coreasteroid0-outline
        &:before
            content "Ă"
    &.xf-obstacle-coreasteroid0
        &:before
            content "Ğ"
    &.xf-obstacle-coreasteroid1-outline
        &:before
            content "ă"
    &.xf-obstacle-coreasteroid1
        &:before
            content "ğ"
    &.xf-obstacle-coreasteroid2-outline
        &:before
            content "ā"
    &.xf-obstacle-coreasteroid2
        &:before
            content "ĝ"
    &.xf-obstacle-coreasteroid3-outline
        &:before
            content "ą"
    &.xf-obstacle-coreasteroid3
        &:before
            content "ġ"
    &.xf-obstacle-coreasteroid4-outline
        &:before
            content "Ą"
    &.xf-obstacle-coreasteroid4
        &:before
            content "Ġ"
    &.xf-obstacle-coreasteroid5-outline
        &:before
            content "Ā"
    &.xf-obstacle-coreasteroid5
        &:before
            content "Ĝ"
    &.xf-obstacle-vt49decimatordebris0-outline
        &:before
            content "Đ"
    &.xf-obstacle-vt49decimatordebris0
        &:before
            content "Ĭ"
    &.xf-obstacle-vt49decimatordebris1-outline
        &:before
            content "đ"
    &.xf-obstacle-vt49decimatordebris1
        &:before
            content "ĭ"
    &.xf-obstacle-vt49decimatordebris2-outline
        &:before
            content "ć"
    &.xf-obstacle-vt49decimatordebris2
        &:before
            content "ģ"
    &.xf-obstacle-yt2400debris0-outline
        &:before
            content "ď"
    &.xf-obstacle-yt2400debris0
        &:before
            content "ī"
    &.xf-obstacle-yt2400debris1-outline
        &:before
            content "Ĉ"
    &.xf-obstacle-yt2400debris1
        &:before
            content "Ĥ"
    &.xf-obstacle-yt2400debris2-outline
        &:before
            content "Ć"
    &.xf-obstacle-yt2400debris2
        &:before
            content "Ģ"
    &.xf-obstacle-gascloud1
        &:before
            content "Į"
    &.xf-obstacle-gascloud1-outline
        &:before
            content "Ē"
    &.xf-obstacle-gascloud2
        &:before
            content "į"
    &.xf-obstacle-gascloud2-outline
        &:before
            content "ē"
    &.xf-obstacle-gascloud3
        &:before
            content "İ"
    &.xf-obstacle-gascloud3-outline
        &:before
            content "Ĕ"
    &.xf-obstacle-gascloud4
        &:before
            content "ı"
    &.xf-obstacle-gascloud4-outline
        &:before
            content "ĕ"
    &.xf-obstacle-gascloud5
        &:before
            content "Ĳ"
    &.xf-obstacle-gascloud5-outline
        &:before
            content "Ė"
    &.xf-obstacle-gascloud6
        &:before
            content "ĳ"
    &.xf-obstacle-gascloud6-outline
        &:before
            content "ė"
    &.xf-point
        &:before
            content "Ì"
    &.xf-rangebonusindicator
        &:before
            content "?"
    &.xf-reararc
        &:before
            content "|"
    &.xf-rebel-outline
        &:before
            content "-"
    &.xf-rebel
        &:before
            content "!"
    &.xf-recover
        &:before
            content "v"
    &.xf-recurring
        &:before
            content "`"
    &.xf-reinforce
        &:before
            content "i"
    &.xf-reload
        &:before
            content "="
    &.xf-republic
        &:before
            content "/"
    &.xf-reversebankleft
        &:before
            content "J"
    &.xf-reversebankright
        &:before
            content "L"
    &.xf-reversestraight
        &:before
            content "K"
    &.xf-rightarc
        &:before
            content "¢"
    &.xf-rotatearc
        &:before
            content "R"
    &.xf-scum
        &:before
            content "#"
    &.xf-separatists
        &:before
            content "."
    &.xf-sensor
        &:before
            content "S"
    &.xf-shield
        &:before
            content "*"
    &.xf-singleturretarc
        &:before
            content "p"
    &.xf-slam
        &:before
            content "s"
    &.xf-sloopleft
        &:before
            content "1"
    &.xf-sloopright
        &:before
            content "3"
    &.xf-squad-point-cost
        &:before
            content "0"
    &.xf-stop
        &:before
            content "5"
    &.xf-straight
        &:before
            content "8"
    &.xf-tacticalrelay
        &:before
            content "Z"
    &.xf-talent
        &:before
            content "E"
    &.xf-team
        &:before
            content "T"
    &.xf-tech
        &:before
            content "X"
    &.xf-title
        &:before
            content "t"
    &.xf-token-calculate-outline
        &:before
            content "Ë"
    &.xf-token-calculate
        &:before
            content "Ê"
    &.xf-token-charge-outline
        &:before
            content "Ó"
    &.xf-token-charge
        &:before
            content "Ò"
    &.xf-token-crit-outline
        &:before
            content "è"
    &.xf-token-crit
        &:before
            content "Ç"
    &.xf-token-cloak-outline
        &:before
            content "ô"
    &.xf-token-cloak
        &:before
            content "å"
    &.xf-token-deplete-outline
        &:before
            content "÷"
    &.xf-token-deplete
        &:before
            content "ø"
    &.xf-token-evade-outline
        &:before
            content "é"
    &.xf-token-evade
        &:before
            content "Å"
    &.xf-token-focus-outline
        &:before
            content "ç"
    &.xf-token-focus
        &:before
            content "Ä"
    &.xf-token-force-outline
        &:before
            content "Õ"
    &.xf-token-force
        &:before
            content "Ô"
    &.xf-token-disarm-outline
        &:before
            content "í"
    &.xf-token-disarm
        &:before
            content "Ö"
    &.xf-token-ion-outline
        &:before
            content "ó"
    &.xf-token-ion
        &:before
            content "ä"
    &.xf-token-jam-outline
        &:before
            content "ð"
    &.xf-token-jam
        &:before
            content "á"
    &.xf-token-lock-outline
        &:before
            content "ò"
    &.xf-token-lock
        &:before
            content "ã"
    &.xf-token-point-1-outline
        &:before
            content "Î"
    &.xf-token-point-1
        &:before
            content "Ð"
    &.xf-token-point-3-outline
        &:before
            content "Í"
    &.xf-token-point-3
        &:before
            content "Ï"
    &.xf-token-reinforce-outline
        &:before
            content "ì"
    &.xf-token-reinforce
        &:before
            content "Ü"
    &.xf-token-reinforceaft-outline
        &:before
            content "î"
    &.xf-token-reinforceaft
        &:before
            content "Ý"
    &.xf-token-shield-outline
        &:before
            content "ë"
    &.xf-token-shield
        &:before
            content "Ñ"
    &.xf-token-strain-outline
        &:before
            content "õ"
    &.xf-token-strain
        &:before
            content "ö"
    &.xf-token-stress-outline
        &:before
            content "ê"
    &.xf-token-stress
        &:before
            content "É"
    &.xf-token-tractor-outline
        &:before
            content "ï"
    &.xf-token-tractor
        &:before
            content "à"
    &.xf-torpedo
        &:before
            content "P"
    &.xf-triplerecurring
        &:before
            content ""
    &.xf-trollleft
        &:before
            content ":"
    &.xf-trollright
        &:before
            content ";"
    &.xf-turnleft
        &:before
            content "4"
    &.xf-turnright
        &:before
            content "6"
    &.xf-turret
        &:before
            content "U"
    &.xf-unique-outline
        &:before
            content "•"
    &.xf-unique
        &:before
            content "u"
    &.xwing-miniatures-ship
        font-family XWingShip
        font-style normal
        font-size 1.5em
    &.xwing-miniatures-ship-aggressorassaultfighter
        &:before
            content "i"
    &.xwing-miniatures-ship-alphaclassstarwing
        &:before
            content "&"
    &.xwing-miniatures-ship-arc170starfighter
        &:before
            content "c"
    &.xwing-miniatures-ship-asf01bwing
        &:before
            content "b"
    &.xwing-miniatures-ship-attackshuttle
        &:before
            content "g"
    &.xwing-miniatures-ship-auzituckgunship
        &:before
            content "@"
    &.xwing-miniatures-ship-belbullab22starfighter
        &:before
            content "["
    &.xwing-miniatures-ship-btla4ywing
        &:before
            content "y"
    &.xwing-miniatures-ship-btlbywing
        &:before
            content ":"
    &.xwing-miniatures-ship-btls8kwing
        &:before
            content "k"
    &.xwing-miniatures-ship-cr90corvette
        &:before
            content "2"
    &.xwing-miniatures-ship-croccruiser
        &:before
            content "5"
    &.xwing-miniatures-ship-customizedyt1300lightfreighter
        &:before
            content "W"
    &.xwing-miniatures-ship-droidtrifighter
        &:before
            content "+"
    &.xwing-miniatures-ship-delta7aethersprite
        &:before
            content "\\"
    &.xwing-miniatures-ship-escapecraft
        &:before
            content "X"
    &.xwing-miniatures-ship-eta2actis
        &:before
            content "-"
    &.xwing-miniatures-ship-ewing
        &:before
            content "e"
    &.xwing-miniatures-ship-fangfighter
        &:before
            content "M"
    &.xwing-miniatures-ship-fireball
        &:before
            content "0"
    &.xwing-miniatures-ship-firesprayclasspatrolcraft
        &:before
            content "f"
    &.xwing-miniatures-ship-g1astarfighter
        &:before
            content "n"
    &.xwing-miniatures-ship-gozanticlasscruiser
        &:before
            content "4"
    &.xwing-miniatures-ship-gr75mediumtransport
        &:before
            content "1"
    &.xwing-miniatures-ship-hmpdroidgunship
        &:before
            content "."
    &.xwing-miniatures-ship-hwk290lightfreighter
        &:before
            content "h"
    &.xwing-miniatures-ship-hyenaclassdroidbomber
        &:before
            content "="
    &.xwing-miniatures-ship-jumpmaster5000
        &:before
            content "p"
    &.xwing-miniatures-ship-kihraxzfighter
        &:before
            content "r"
    &.xwing-miniatures-ship-laatigunship
        &:before
            content "/"
    &.xwing-miniatures-ship-lambdaclasst4ashuttle
        &:before
            content "l"
    &.xwing-miniatures-ship-lancerclasspursuitcraft
        &:before
            content "L"
    &.xwing-miniatures-ship-m12lkimogilafighter
        &:before
            content "K"
    &.xwing-miniatures-ship-m3ainterceptor
        &:before
            content "s"
    &.xwing-miniatures-ship-mg100starfortress
        &:before
            content "Z"
    &.xwing-miniatures-ship-modifiedtielnfighter
        &:before
            content "C"
    &.xwing-miniatures-ship-modifiedyt1300lightfreighter
        &:before
            content "m"
    &.xwing-miniatures-ship-nabooroyaln1starfighter
        &:before
            content "<"
    &.xwing-miniatures-ship-nantexclassstarfighter
        &:before
            content ";"
    &.xwing-miniatures-ship-nimbusclassvwing
        &:before
            content ","
    &.xwing-miniatures-ship-quadrijettransferspacetug
        &:before
            content "q"
    &.xwing-miniatures-ship-raiderclasscorvette
        &:before
            content "3"
    &.xwing-miniatures-ship-resistancetransport
        &:before
            content ">"
    &.xwing-miniatures-ship-resistancetransportpod
        &:before
            content "?"
    &.xwing-miniatures-ship-rz1awing
        &:before
            content "a"
    &.xwing-miniatures-ship-rz2awing
        &:before
            content "E"
    &.xwing-miniatures-ship-scavengedyt1300
        &:before
            content "Y"
    &.xwing-miniatures-ship-scurrgh6bomber
        &:before
            content "H"
    &.xwing-miniatures-ship-sheathipedeclassshuttle
        &:before
            content "%"
    &.xwing-miniatures-ship-sithinfiltrator
        &:before
            content "]"
    &.xwing-miniatures-ship-starviperclassattackplatform
        &:before
            content "v"
    &.xwing-miniatures-ship-syliureclasshyperspacering
        &:before
            content "*"
    &.xwing-miniatures-ship-t65xwing
        &:before
            content "x"
    &.xwing-miniatures-ship-t70xwing
        &:before
            content "w"
    &.xwing-miniatures-ship-tieadvancedv1
        &:before
            content "R"
    &.xwing-miniatures-ship-tieadvancedx1
        &:before
            content "A"
    &.xwing-miniatures-ship-tieagaggressor
        &:before
            content "`"
    &.xwing-miniatures-ship-tiebainterceptor
        &:before
            content "j"
    &.xwing-miniatures-ship-tiecapunisher
        &:before
            content "N"
    &.xwing-miniatures-ship-tieddefender
        &:before
            content "D"
    &.xwing-miniatures-ship-tiefofighter
        &:before
            content "O"
    &.xwing-miniatures-ship-tieinterceptor
        &:before
            content "I"
    &.xwing-miniatures-ship-tielnfighter
        &:before
            content "F"
    &.xwing-miniatures-ship-tiephphantom
        &:before
            content "P"
    &.xwing-miniatures-ship-tierbheavy
        &:before
            content "J"
    &.xwing-miniatures-ship-tiereaper
        &:before
            content "V"
    &.xwing-miniatures-ship-tiesabomber
        &:before
            content "B"
    &.xwing-miniatures-ship-tiesffighter
        &:before
            content "S"
    &.xwing-miniatures-ship-tieskstriker
        &:before
            content "T"
    &.xwing-miniatures-ship-tievnsilencer
        &:before
            content "$"
    &.xwing-miniatures-ship-upsilonclasscommandshuttle
        &:before
            content "U"
    &.xwing-miniatures-ship-ut60duwing
        &:before
            content "u"
    &.xwing-miniatures-ship-v19torrentstarfighter
        &:before
            content "^"
    &.xwing-miniatures-ship-vcx100lightfreighter
        &:before
            content "G"
    &.xwing-miniatures-ship-vt49decimator
        &:before
            content "d"
    &.xwing-miniatures-ship-vultureclassdroidfighter
        &:before
            content "_"
    &.xwing-miniatures-ship-xiclasslightshuttle
        &:before
            content "Q"
    &.xwing-miniatures-ship-yt2400lightfreighter
        &:before
            content "o"
    &.xwing-miniatures-ship-yv666lightfreighter
        &:before
            content "t"
    &.xwing-miniatures-ship-z95af4headhunter
        &:before
            content "z"
