@font-face
  font-family Orbitron
  src url('/assets/fonts/Orbitron-Regular.ttf')

.x-wing__title
.x-wing__main
.x-wing__ref
.x-wing__rules h5
  font-family Orbitron

.x-wing__title
  small
    font-size 50%

.x-wing__rules
  & > ul
    margin 1.5rem 0 !important

  ul
  ol
    font-size 96% !important
    line-height 1.8

  ul
  ol
    &[type=""]
    &[type="a"]
    &[type="i"]
      margin 1.5rem 0 1.5rem 1.5rem

    &[type=""]
      list-style none

    &[type="a"]
      list-style lower-alpha

    &[type="i"]
      list-style lower-roman

  ul[type=""] > li > ol
    list-style decimal
    margin 1.5rem 0 1.5rem 1.5rem !important

  .note
    display inline-block
    background-color #f9f9f9
    border-radius 5px
    padding 0.5rem 1rem

    ul
    ul *
      margin 0
      list-style-type "✓ "

      ul
        margin 0 1.5rem

  li:has(> i[class*="xwing-miniatures-font-token-"])
    line-height 2.2rem

i[class*="xwing-miniatures-font-"]
  font-size 1.7rem

i[class*="xwing-miniatures-font-token-"]
  font-size 2.5rem

.xwing-miniatures-font-recurring
.xwing-miniatures-font-negativerecurring
  font-size 2.0rem
  font-weight bolder

.xwing-miniatures-font-token-calculate
.xwing-miniatures-font-token-focus
  color #35B43B

.xwing-miniatures-font-token-disarm
.xwing-miniatures-font-token-jam
  color #F39126

.xwing-miniatures-font-rangebonusindicator
.xwing-miniatures-font-token-deplete
.xwing-miniatures-font-token-ion
.xwing-miniatures-font-token-strain
.xwing-miniatures-font-token-stress
  color #EB1F28

.xwing-miniatures-font-token-force
  color #AD6CFE
