body
  min-height 100vh
  position relative

a
  &:not(.button)
    text-decoration none

  &:not(.button):hover
    text-decoration underline

  &[href="#Index"]:hover
    text-decoration none

[target="_blank"]
  background-image url(/assets/images/shared/link-external.svg)
  background-position center right
  background-repeat no-repeat
  background-size 0.857em
  font-size 1.2rem
  padding-right 1.1em

  & > img
    width 16px
    height 16px

@media (min-width: 550px)
  .column
  .columns
    margin-left 0%

  .search-button
    font-size 16px

@media (pointer: coarse), (hover: none)
  *:not(a)[title]
    position relative

  *:not(a)[title]:focus::after
    background-color #fff
    border 1px solid #f1f1f1
    border-radius 2px
    box-shadow 2px 2px 3px #ccc
    color #000
    content attr(title)
    font-family Raleway,HelveticaNeue,"Helvetica Neue",Helvetica,Arial,sans-serif
    font-size 1rem
    left 0
    padding 0 5px
    position absolute
    top 90%
    z-index 1
