<section class="search-form">
  <input class="search-form__input" type="text" placeholder="<%= __('post.search') %>" />
</section>

<section class="search-results page__content">
  <div class="posts-found"></div>

  <div class="no-results">
    <p>
      <%= __('page.no_results') %>
    </p>
  </div>
</section>

<%- asset("/assets/scripts/main.js") %>

<script type="text/javascript">
  blog.search.setup();
</script>
