.social-networks-list
  list-style none

.social-network-item
  margin-bottom 0.5rem

  & > a
    display inline-flex

.social-network-item__icon
  height 24px
  width 24px
  margin-right 0.5rem

.social-network-item__name
  margin-top 2px
