<small>
  <i class="fa fa-globe"></i>&nbsp;
  <% site
      .posts
      .filter(item => item.date.format() == post.date.format())
      .forEach(item => { %>

    <a class="text--uppercase" href="/<%= item.path %>"><%= item.lang %></a>

  <% }) %>
</small>
