<strong>Activation</strong>

<ol type="a">
  <li><%- partial('_partial/reveal-dial') %></li>
  <li><%- partial('_partial/execute-maneuver') %></li>
  <li><%- partial('_partial/perform-action') %></li>
  <li><%- partial('_partial/end') %></li>
</ol>

