<ul class="social-networks-list">
  <li class="social-network-item">
    <a href="//500px.com/jr_oliveira" target="_blank" rel="noopener">
      <img class="social-network-item__icon" src="/assets/images/social-networks/500px.svg" alt="Junior Oliveira's 500px">
      <span class="social-network-item__name">500px.com/jr_oliveira</span>
    </a>
  </li>

  <li class="social-network-item">
    <a href="//instagram.com/junr.oliveira" target="_blank" rel="noopener">
      <img class="social-network-item__icon" src="/assets/images/social-networks/instagram.svg" alt="Junior Oliveira's instagram">
      <span class="social-network-item__name">instagram.com/junr.oliveira</span>
    </a>
  </li>

  <li class="social-network-item">
    <a href="//twitter.com/junr_oliveira" target="_blank" rel="noopener">
      <img class="social-network-item__icon" src="/assets/images/social-networks/twitter.svg" alt="Junior Oliveira's twitter">
      <span class="social-network-item__name">twitter.com/junr_oliveira</span>
    </a>
  </li>

  <li class="social-network-item">
    <a href="//linkedin.com/in/junior-oliveira" target="_blank" rel="noopener">
      <img class="social-network-item__icon" src="/assets/images/social-networks/linkedin.svg" alt="Junior Oliveira's linkedin">
      <span class="social-network-item__name">linkedin.com/in/junior-oliveira</span>
    </a>
  </li>

  <li class="social-network-item">
    <a href="//github.com/jroliveira/" target="_blank" rel="noopener">
      <img class="social-network-item__icon" src="/assets/images/social-networks/github.svg" alt="Junior Oliveira's github">
      <span class="social-network-item__name">github.com/jroliveira</span>
    </a>
  </li>
</ul>
