<div class="tag-cloud">
  <% site.tags.forEach(tag => {
    var href;

    switch (tag.name) {
      case 'poem':
        href = 'poems';
        break;

      case 'drawing':
        href = 'drawings';
        break;

      default:
        href = `tags/${to_kebab_case(tag.name)}`;
    }
  %>

    <a href="/<%= href %>/" title="<%= tag_count(tag) %>" style="font-size:<%= tag_font_size(tag) %>%"><%= to_kebab_case(tag.name) %></a>

  <% }) %>
</div>
