<div>
  <% site
      .tags
      .forEach(tag => { %>

        <a href="/tags/<%= to_kebab_case(tag.name) %>/" style="font-size:<%= tag_font_size(tag) %>%"><%= tag.name %> (<%= tag_count(tag) %>)</a>

  <% }) %>
</div>
