Determine Player Order
<br>
<div class="note">
  <ul>
    <li title="SETUP/Determine Player Order pg.19">
      each player rolls 3 attack dice:
      <ul>
        <li>1ยบ <%- xw_symbol('crit') %>;</li>
        <li>2ยบ <%- xw_symbol('focus') %>;</li>
        <li>3ยบ <%- xw_symbol('hit') %>;</li>
      </ul>
    </li>
  </ul>
</div>
