<strong>Place Obstacles</strong>
<br>
<div class="note">
  <ul title="SETUP, Place Obstacles (p.19)" tabindex="0">
    <li>each player places <strong>1</strong> <strong>obstacle</strong> at a time, up to <strong>6</strong>;</li>
    <li>
      <strong>obstacles</strong> must be:
      <ul>
        <li>beyond range <strong>1</strong> of other <strong>obstacles</strong>;</li>
        <li>beyond range <strong>2</strong> of each edge of the <strong>play area</strong>;</li>
      </ul>
    </li>
  </ul>
</div>
