Place Obstacles
<br>
<div class="note">
  <ul>
    <li title="SETUP/Place Obstacles pg.19">each player places 1 obstacle at a time, up to 6;</li>
    <li>
      obstacles must:
      <ul>
        <li title="SETUP/Place Obstacles pg.19">beyond range 1 of the other obstacle;</li>
        <li title="SETUP/Place Obstacles pg.19">beyond range 2 of each edge of the play area;</li>
      </ul>
    </li>
  </ul>
</div>
