<strong>End Of Activation</strong>
<br>
<div class="note">
  <ul>
    <li title="ION (p.13)" tabindex="0">
      if <%- xw_token('ion') %> and executed an <strong>ion maneuver</strong>:
      <ul>
        <li>remove all <%- xw_token('ion') %>;</li>
      </ul>
    </li>
  </ul>
</div>
