<strong>Perform Action</strong>
<br>
<div class="note">
  <ul>
    <li title="ACTIVATION PHASE, Perform Action (p.3)" tabindex="0">if <%- xw_token('stress') %>, cannot perform actions;</li>
    <li title="ION (p.13)" tabindex="0">if <%- xw_token('ion') %>, can perform only <%- xw_symbol('focus') %>;</li>
  </ul>
</div>
