Perform Action
<br>
<div class="note">
  <ul>
    <li title="ACTIVATION PHASE/Perform Action pg.3">if has a <%- xw_token('stress') %>, cannot perform actions;</li>
    <li title="ION pg.13">if has a <%- xw_token('ion') %>, can perform only the <%- xw_symbol('focus') %>;</li>
  </ul>
</div>
