Reveal Dial
<br>
<div class="note">
  <ul>
    <li title="ACTIVATION PHASE pg.3">starts with the lowest initiative;</li>
    <li title="PLANNING PHASE pg.16">if the maneuver dial has not been set, the ship gains a <%- xw_token('stress') %>, then performs a white [ 2 <%- xw_symbol('straight') %> ];</li>
  </ul>
</div>
