<strong>Reveal Dial</strong>
<br>
<div class="note">
  <ul>
    <li title="ACTIVATION PHASE (p.3)" tabindex="0">starts with the lowest initiative;</li>
    <li title="PLANNING PHASE (p.16)" tabindex="0">if the <strong>maneuver dial</strong> has not been set, the ship gains <%- xw_token('stress') %>, then performs a white [ <strong>2</strong> <%- xw_symbol('straight') %> ];</li>
    <li title="MANEUVER, Check Difficulty (p.15)">if the <strong>maneuver</strong> is <span class="red">red</span> and already has <%- xw_token('stress') %>, then performs a white [ <strong>2</strong> <%- xw_symbol('straight') %> ] instead;</li>
  </ul>
</div>
