.post
  &__meta
    font-size 0.8em
    font-weight 400
    letter-spacing .01rem


  &-item
    border-top 1px solid #eee
    padding 3rem 0

    &:nth-of-type(1)
      border-top 0
      padding-top 0

    &__excerpt
      color #586069

      & > h5
        font-size 2rem

    &__title
      color #222
      font-weight 400
      font-size 2.2rem

      &:hover
        color #222

@media (min-width: 550px)
  .post
    &__meta
      font-size 0.7em
      letter-spacing 0

    &-item
      &__title
        font-size 2.4rem
