<h2 class="title">
  <%= __('posts') %>
</h2>

<% site
    .posts
    .filter((post, pos) => site.posts
      .map(item => item.date.format())
      .indexOf(post.date.format()) == pos)
    .sort('-date')
    .forEach(post => { %>

      <%- partial('_partial/post/resume', {post: post}) %>

<% }) %>
