<h2 class="title">
  <%= page.title %>
</h2>

<% site
    .posts
    .filter(post => post.lang == page.lang)
    .sort('-date')
    .forEach(post => { %>

      <%- partial('_partial/post/resume', {post: post}) %>

<% }) %>
