<div class="search-form">
  <i class="search-form__icon fa fa-search"></i>
  <input class="search-form__input" id="searchPost" type="text" placeholder="<%= __('search_post') %>" />
</div>

<div id="postsFound"></div>

<script src="/assets/scripts/vendors/jquery-3.5.1.min.js"></script>
<script src="/assets/scripts/blog/namespace.js"></script>
<script src="/assets/scripts/blog/elem/index.js"></script>
<script src="/assets/scripts/blog/post/index.js"></script>
<script src="/assets/scripts/blog/search/index.js"></script>
<script type="text/javascript">
  blog.search.setup();
</script>
