<h2 class="title">
  <%= _p('posts_about', page.tag) %>
</h2>

<% page
    .posts
    .filter((post, pos) => page.posts
      .map(item => item.date.format())
      .indexOf(post.date.format()) == pos)
    .sort('-date')
    .forEach(post => { %>

  <%- partial('_partial/post/resume', {post: post}) %>

<% }) %>
