<h4>
  <%= _p('articles_about', page.tag) %>
</h4>

<% page
    .posts
    .filter((post, pos) => page.posts
      .map(item => item.date.format())
      .indexOf(post.date.format()) == pos)
    .sort('-date')
    .each(function(post) { %>
      
  <%- partial('_partial/post/resume', {post: post}) %>

<% }) %>