<section class="docs-section">
  <div class="row">
    <div class="six columns">
      <p>
        <%= config.title %>
        <br />
        <a href="//github.com/jroliveira/" target="_blank" rel="noopener">github.com/jroliveira</a>
        <br />
        <a href="//twitter.com/junr_oliveira" target="_blank" rel="noopener">twitter.com/junr_oliveira</a>
        <br />
        <a href="//linkedin.com/in/junior-oliveira" target="_blank" rel="noopener">linkedin.com/in/junior-oliveira</a>
      </p>
    </div>
    <div class="six columns">
      <%- partial('_widget/tag-cloud') %>    
    </div>
  </div>
</section>